# User-specific files
*.suo
*.user

# Build results
[Bb]in/
[Oo]bj/
artifacts
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding addin-in
.JustCode

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# NuGet Packages
*.nupkg

# Common Platform excludes
.idea/