<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <time xsi:type="FastUTC" />

  <variable name="logDirectory" value="${basedir}/logs" />

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${logger:shortName=true} ${message}"></target>
    
    <target name="file"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>
