<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ncrontab" version="3.1.0" targetFramework="net46" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net46" />
  <package id="SimpleInjector" version="3.1.5" targetFramework="net46" />
  <package id="Topshelf" version="4.0.1" targetFramework="net46" />
</packages>