name: Build
on: [push, pull_request]
env:
  DOTNET_NOLOGO: true # remove after: https://github.com/actions/virtual-environments/pull/957

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.302
    - name: Build Reason
      run: "echo ref: ${{github.ref}} event: ${{github.event_name}}"
    - name: Build Version
      run: |
        dotnet tool install --global minver-cli --version 2.3.0
        version=$(minver --tag-prefix v)
        echo "::set-env name=MINVERVERSIONOVERRIDE::$version"
    - name: Build
      run: dotnet build Foundatio.sln --configuration Release
    - name: Run Tests
      run: dotnet test Foundatio.sln --configuration Release --no-build
    - name: Package
      if: github.event_name != 'pull_request'
      run: dotnet pack Foundatio.sln --configuration Release --no-build
    - name: Install GPR Tool
      if: github.event_name != 'pull_request'
      run: dotnet tool install gpr -g
    - name: Publish CI Packages
      if: github.event_name != 'pull_request'
      run: |
        for package in $(find -name "*.nupkg" | grep "minver" -v); do
          echo "${0##*/}": Pushing $package...
          
          # GitHub
          gpr push $package -k ${{ secrets.GITHUB_TOKEN }}
          
          # Feedz (remove once GitHub supports anonymous access)
          dotnet nuget push $package --source https://f.feedz.io/foundatio/foundatio/nuget --api-key ${{ secrets.FEEDZ_KEY }} --skip-duplicate
        done
    - name: Publish Release Packages
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        for package in $(find -name "*.nupkg" | grep "minver" -v); do
          echo "${0##*/}": Pushing $package...
          dotnet nuget push $package --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_KEY }} --skip-duplicate
        done
